<ion-header class="head">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()" color="primary">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title><h5>Estilos</h5></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="cont">
  <ion-card class="carddR">
    <ion-card-header>
      <ion-card-title class="tituloCard">Reggaetón</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img src="/assets/reggaeton.jpg"></ion-img> 
      <p class="descripcion">El reggaetón​ es un género musical​ que se deriva del reggae en español que es a su vez un subgénero del dancehall, así como elementos principalmente del hip hop y la música latina. Es un género musical muy popular hasta hoy en día; que ha llegado a alcanzar sus apogeos máximos durante las décadas de 2000 y 2010.</p>
      <br>
      <ion-button style="font-size: 12px;" routerLink="/estilos" expand="block"  shape="round">
      Ver top 5 de canciones 
    </ion-button>
    </ion-card-content>
 
  </ion-card>
  <ion-card class="carddE">
    <ion-card-header>
      <ion-card-title class="tituloCard">Electrónica</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img src="/assets/electronica.jpg"></ion-img>
      <p class="descripcion">La música electrónica es aquel tipo de música que emplea instrumentos musicales electrónicos y tecnología musical electrónica para su producción e interpretación. En general, se puede distinguir entre el sonido producido mediante la utilización de medios electromecánicos, de aquel producido mediante tecnología electrónica, que también pueden ser mezclados.</p>
      <br>
      <ion-button style="font-size: 12px;" routerLink="/estilos" expand="block"  shape="round">
        Ver top 5 de canciones 
      </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card class="carddH">
    <ion-card-header>
      <ion-card-title class="tituloCard">Hip-Hop</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img src="/assets/hiphop.jpg"></ion-img>
      <p class="descripcion">El hip hop​ o hiphop​ es una cultura originada en el sur del Bronx y Harlem, en la ciudad de Nueva York por Afroamericanos y Latinoamericanos durante la década de 1970. ​Si bien el término hip hop o rap se usa a menudo para referirse al estilo musical y al estilo de vida, se considera que el hip hop no solo se circunscribe al ámbito musical y por el contrario consta de cuatro principales elementos: rap (oral: recitar o cantar), turntablism o "DJing" (auditiva o musical), breaking (físico: baile) y graffiti (visual: pintura).</p>
      <br>
      <ion-button style="font-size: 12px;" routerLink="/estilos" expand="block"  shape="round">
      Ver top 5 de canciones 
    </ion-button>
    </ion-card-content>
   
  </ion-card>
  <ion-card class="carddC">
    <ion-card-header>
      <ion-card-title class="tituloCard">Cumbia</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img src="/assets/cumbia.jpg"></ion-img>
      <p class="descripcion">La cumbia es un ritmo de origen colombiano, pero que desde los años '60 se extendió por buena parte de América del Sur, y que en Chile, desde entonces, es el género bailable popular por excelencia. Originalmente ejecutada por sonoras —al estilo de la multinacional Sonora Dinamita—, la "cumbia chilena" ha tomado distintas formas con los años, bebiendo también de la cumbia peruana y la argentina. Desde los años 2000, una nueva generación de músicos la ha convertido en su lenguaje musical, y la ha fusionado con el rock y otros ritmos latinoamericanos, conformando una poderosa escena, que tiene a varias generaciones de cultores, y que sigue siendo protagonista de la banda sonora de la cualquier fiesta en Chile.</p>
      <br>
      <ion-button style="font-size: 12px;" routerLink="/estilos" expand="block"  shape="round">
        Ver top 5 de canciones 
      </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card class="carddRo">
    <ion-card-header>
      <ion-card-title class="tituloCard">Rock</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img src="/assets/rock.jpg"></ion-img>
      <p class="descripcion">Estilo musical nacido en la década de 1960 como derivación del rock and roll y que se caracteriza por el empleo de melodías y ritmos complejos, con una instrumentación bastante fija (básicamente guitarra eléctrica, bajo eléctrico, teclado y batería) y con un ritmo enérgico subrayado por la potencia del bajo y la batería, todo ello a menudo ligado a una actitud antiautoritaria y provocativa; ha desarrollado multitud de variantes y ha dado paso a nuevos estilos, como el pop, el punk o el heavy.</p>
      <br>
      <ion-button style="font-size: 12px;" routerLink="/estilos" expand="block"  shape="round">
        Ver top 5 de canciones 
      </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title><h5 style="color:rgb(148, 161, 180);text-align: center;">No olvides visitar nuestras redes sociales</h5></ion-card-title>
    </ion-card-header>
    <ion-card-content>
       <ion-button style="padding-left: 50px" size="small" target="blank" href="https://www.facebook.com">
      <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
    </ion-button>
    <ion-button size="small" target="blank" href="https://www.twitter.com">
      <ion-icon slot="icon-only" name="Logo-twitter"></ion-icon>
    </ion-button>
    <ion-button size="small"target="blank" href="https://www.instagram.com">
      <ion-icon slot="icon-only" name="logo-instagram"></ion-icon>
    </ion-button> 
    </ion-card-content>
  </ion-card>
</ion-content>